CompileFlags:
  Add:
    - "-I/home/yubo/data/mps/mitsuba3/include"
    - "-I/home/yubo/data/mps/mitsuba3/ext/tinyformat"
    - "-I/home/yubo/data/mps/mitsuba3/build/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/ext/drjit-core/ext/nanothread/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/ext/drjit-core/ext/robin_map/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/ext/drjit-core/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/ext/nanobind/ext/robin_map/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/ext/nanobind/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/drjit/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/embree/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/embree/tutorials/common/glfw/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/fastfloat/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/ittnotify/ittnotify/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanobind/ext/robin_map/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanobind/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanogui/ext/glad/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanogui/ext/glfw/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanogui/ext/pybind11/include/"
    - "-I/home/yubo/data/mps/mitsuba3/ext/nanogui/include/"
